<!DOCTYPE html>
<html>
    <head>
        <title>Laasti HTML App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            body {
                padding:1em;margin:0;
                border-top: 10px solid #0099ff;
                font:120%/1.35 Arial, sans-serif;
                text-align:center;
            }
            h1 {font-size:3em;color:#0099ff;}
        </style>
    </head>
    <body>
        <h1>Hello World!</h1>
        <p>Looks like your Laasti app is waiting for you to code...</p>
    </body>
</html>
